<app-title [title]="title"></app-title>
<form [formGroup]="usuarioEditForm" (submit)="salvar()">
    <div class="form-group">
      <input type="hidden" class="form-control" formControlName="usuarioId">
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" class="form-control" formControlName="nome">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputDataNascimento">Data de Nascimento</label>
          <input type="text" class="form-control" formControlName="dataNascimento">
        </div>
        <div class="form-group col-md-4">
          <label for="sexoId">Sexo</label>
          <select formControlName="sexoId" class="form-control">
            <option selected>Escolha</option>
            <option value="1">Masculino</option>
            <option value="2">Feminino</option>
          </select>
        </div>
        <!--div class="form-group col-md-2">
          <label for="inputAtivo">Situação</label>
          <select formControlName="ativo" id="ativo" class="form-control">
            <option selected>Escolha</option>
            <option value="1">Ativo</option>
            <option value="2">Inativo</option>
          </select>
        </div-->
    </div>   
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Senha</label>
          <input type="password" class="form-control" formControlName="senha">
        </div>
    </div>    
    <button class="btn btn-primary" type="submit">Salvar</button>    
  </form>
  <br>
  <button (click)="voltar()" class="btn btn-primary" type="menu">Voltar</button>
