<app-title [title]="title"></app-title>
<div class="input-group mb-3 col-md-5">
  <input type="text" class="form-control" [(ngModel)]="nomeBusca" placeholder="Buscar usuário por nome" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="buscarNome()">Buscar</button>
  </div>  
</div>
<div class="input-group mb-3 col-md-6">
  <button class="btn btn-outline-secondary" type="button" (click)="filtrarAtivos()">Filtrar usuários ativos</button>
  <button class="btn btn-outline-secondary ml-3" type="button" (click)="exibirTodos()">Exibir todos usuários</button>  
</div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Email</th>
        <th scope="col">Sexo</th>
        <th scope="col">Ativo</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>      
      <tr *ngFor="let usuario of usuarios">
        <th scope="row">{{ usuario.usuarioId }}</th>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.dataNascimento | date:"dd/MM/yyyy" }}</td>
        <td>{{ usuario.email }}</td> 
        <td>{{ usuario.sexoId == 1 ? 'Masculino' : 'Feminino' }}</td>
        <td>
          <div class="btn-group">
            <button (click)="ativarDesativar(usuario.usuarioId)" type="button" class="btn btn-outline-secondary btn-sm">{{usuario.ativo == true ? 'Desativar' : 'Ativar'}}</button>             
          </div>
        </td>
        <td>
          <div class="btn-group">
            <button (click)="editar(usuario.usuarioId)" type="button" class="btn btn-outline-info btn-sm">Editar</button>             
          </div>
        </td>    
      </tr>
    </tbody>
  </table>
