<app-title [title]="title"></app-title>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Email</th>
        <th scope="col">Sexo</th>
        <th scope="col">Ativo</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <th scope="row">{{ usuario.usuarioId }}</th>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.dataNascimento }}</td>
        <td>{{ usuario.email }}</td> 
        <td>{{ usuario.sexoId }}</td>
        <td>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">          
            <label class="btn btn-secondary btn-sm">
              <input type="radio" name="options" id="btnAtivo"> Ativo
            </label>
            <label class="btn btn-secondary btn-sm">
              <input type="radio" name="options" id="btnInativo"> Inativo
            </label>
          </div>
        </td>
        <td>
          <div class="btn-group">
            <button (click)="editar(usuario.usuarioId)" type="button" class="btn btn-outline-info btn-sm">Editar</button> 
            <button (click)="excluir(usuario.usuarioId)" type="button" class="btn btn-outline-danger btn-sm">Excluir</button>
          </div>
        </td>    
      </tr>
    </tbody>
  </table>
